.inputWrapper {
  display: flex;
  flex: 1;
  border: 1px solid gray;
  border-radius: 0.25em;
  padding: 0.25rem;
  height: 3vh;
  min-height: 2em;
}

.input {
  display: flex;
  flex: 1;
  border: none;
  outline: none;
}
